body{
	background-color: #D8D8D8;
}

.row-no-padding {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#phone{
	color: #189b53;
	font-style: italic;
	font-size: 20px;
}

#email a{
	color: #189b53;
	font-size: 15px;
}

.like-us{
	font-size: 12px;
	padding-top: 4px;
}

.top-header{
	background-color: white;
	background-image: url('/images/road.png');
	background-size:100%;
}

.cool-words{
	color: #898b8b;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
}

.home-left{
	background-color: white;
	background-image: url('/images/car_photo_1.jpg');
	background-repeat: no-repeat;
	background-size:100%;
	padding: 20px;
}

.home-left h1{
	color: #18bc9c;
}

.home-left p{
	font-size: 20px;
}

.home-left-pane{
	background-color: #2c3e50;
	color: white;
}

.home-right-pane{
	/*background-color: #2c3e50;*/
	background-color: white;
	background-image: url('/images/compare_photo_1.jpg');
	background-repeat: no-repeat;
	background-size:100%;
	color: white;
}

select {
	cursor: pointer;
}

select option{
	font-size: 25px;
}


